:root {
  --bar-width: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  background-color: maroon;
  color: aliceblue;
  user-select: none;
}

img {
  max-width: 100%;
}

.load-bar {
  width: 50%;
  height: 10px;
  background-color: #cccccc;
  position: relative;
  margin: 1rem 0;
}

.load-bar::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: royalblue;

  width: var(--bar-width);
  height: 10px;
}

.progress {
  display: block;
  background-color: royalblue;
  height: 10px;
  width: 0;
}
