body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  background-color: #222;
  color: #f3f3f3;
}

.alert {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  transform: translateY(-100%);
}

.alert--online {
  background-color: rgba(0, 255, 0, 0.6);
  animation: reveal 5s ease;
}

.alert--offline {
  background-color: rgba(255, 0, 0, 0.6);
  animation: reveal 5s ease;
}

@keyframes reveal {
  0% {
    transform: translateY(-100%);
  }
  15%,
  85% {
    transform: translateY(0);
  }
}
